{% extends 'temel_dosya.html' %}

{% block body %}
<div class="container">
<div class="card-deck"  style="width: 300px">
    <div class="card " >
      <div class="card-body text-center">
	  <a href="ayakkabı1.html" >
	  <img src="static/resim5.png" width="150" height="150"/>
	  <h4 class="card-title">nike <br>ayakkabı</h4>
      <p class="card-text">449.99 TL</p>
      <a href="sepetim.html" class="btn btn-primary">Satın Al</a>
      </div>
    </div>

    </div>
  </div>
</div>

{% endblock %}